.DS_Store
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata

build/
**/build/
**/.gradle/
**/.kotlin/

android/local.properties
ios/Flutter/ephemeral/

*.jks
*.keystore
*.log
reference-build/*.apk

.env
.env.*
!.env.example
