<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACNb4HvWWK5wTfG2-tOKOi_MgMn1iZfQU</string>
	<key>GCM_SENDER_ID</key>
	<string>532037830967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sirfitech.settleio</string>
	<key>PROJECT_ID</key>
	<string>settle-405f1</string>
	<key>STORAGE_BUCKET</key>
	<string>settle-405f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532037830967:ios:c2149cd34d1df6aaea32b2</string>
</dict>
</plist>